
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Apply custom styles to the loader */
  .loader {
    border-top-color:rgba(0, 0, 255, 0.79);
    animation: spin 1s linear infinite;
  }
  